#MAIN
{
	height : 400px;
	vertical-align : top;
	text-align : left;
}
.pied_page
{
	font-style : italic;
	font-syze : xx-small;
	border-top-style : solid;
	border-top-width : 1px;
	border-top-color : blue;
}
A.lien_caddie:link,
A.lien_caddie:visited
{
	color : red;
	text-decoration : none;
}
