#inscription{
	background-color: white;
	width : 220px;
	padding:10px;
	border: 1px black solid;
	border-radius : 10px;
	visibility:hidden;
	position:absolute;
	top:0px;
	float: right;
	z-index: 3;
}

#inscription form{
	width: 600px;
}

#inscription label{
	float: left;
	width: 100px;
}

#inscription input[type="password"], #authentification input[type="text"]{
	width: 110px;
	margin-bottom: 0.3em;
}
#inscription button{
	border-radius : 10px;
}